{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/new.css' %}">
  <link
    href="https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
    rel="stylesheet">
  <title>Document</title>
</head>

<body>
  <div class="container">

    <div class="artboard">

      <div class="artboard-leftside">

        <div class="artboard-leftside__header">

          <a class="artboard-leftside__header-logo">
            <img src="{% static 'img/logo.png' %}" alt="HealthPro Logo">
          </a>

          <a class="artboard-leftside__header-phone"

            href="https://api.whatsapp.com/send/?phone=87753235530&text&type=phone_number&app_absent=0">

            <img class="artboard-leftside__header-phone-icon" src="{% static 'img/phone.svg' %}" alt="HealthPro Phone">

            <div class="artboard-leftside__header-phone-call">

              <p>+77071023562</p>
              <span>Позвонить консультанту</span>

            </div>


          </a>

        </div>

        <div class="artboard-leftside__content">

          <h4 class="artboard-leftside__content_header">
            Мы будем у Вас в течении 20 минут
          </h4>
          <h2 class="artboard-leftside__content_subheader">
            <span>Индивидуальный</span> подход к вашему здоровью
          </h2>
          <ul class="artboard-leftside__content-service-features">
            <li class="artboard-leftside__content-service-features-item">Работаем для Вас 24/7</li>
            <li class="artboard-leftside__content-service-features-item">Стаж работы наших специалистов свыше 10 лет
            </li>
            <li class="artboard-leftside__content-service-features-item">Врачи на пути к Вам, можете забыть об очередях
              в поликлинике.</li>
          </ul>

        </div>

        <div class="artboard-leftside__actions">

          <button class="artboard-leftside__actions-button">

            <img class="artboard-leftside__actions-button-icon" src="{% static 'img/whatsapp.png' %}"></span>
            <p>Бесплатная консультация</p>

          </button>

          <div class="artboard-leftside__actions_discount">

            <span><img src="{% static 'img/arrow.svg' %}" class="artboard-leftside__actions_discount-arrow" alt=""></span>
            <p>Нажми на кнопку и получи 15% скидку на повторный вызов!</p>

          </div>

        </div>

        <div class="artboard-leftside__actions--choosed-us">
          <span>

            <img class="c1 " src="{% static 'img/c1.png' %}">
            <img class="c2 " src="{% static 'img/c2.png' %}">
            <img class="c3 " src="{% static 'img/c3.png' %}">
            <img class="c4 " src="{% static 'img/c4.png' %}">  
            
          <span>
            <p>
              +20.000 пациентов выбрали нас
            </p>
        </div>

      </div>

      <div class="artboard-rightside">
        <div class="image-container">
          <img class="rounded-image" src="{% static 'img/Mask_group-3.png' %}">
        </div>
        <div class="image-container">
          <img class="rounded-image" src="{% static 'img/Mask_group.png' %}">
        </div>
        <div class="image-container">
          <img class="rounded-image" src="{% static 'img/Mask_group-1.png' %}">
        </div>
        <div class="image-container">
          <img class="rounded-image" src="{% static 'img/Mask_group-2.png' %}">
        </div>
      </div>

    </div>

  </div>
</body>

</html>