{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/sec.css' %}">
    <title>healthpro</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- jQuery, Popper.js, and Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body>



    <header>
        <div class="container">
            <div class="header-container">
                <div class="leftside">
                    <nav class="navbar navbar-expand-lg navbar-light ">
                        <a class="navbar-brand">
                            <img src="{% static 'img/logo.png' %}" alt="HealthPro Logo">
                        </a>
                        <a class="navbar-brand phone-icon"
                            href="https://api.whatsapp.com/send/?phone=87753235530&text&type=phone_number&app_absent=0">
                            <img src="{% static 'img/phone.svg' %}" alt="HealthPro Phone">
                            <p>+77071023562</p>
                            <a href="https://api.whatsapp.com/send/?phone=87753235530&text&type=phone_number&app_absent=0"
                                class="sms">Позвонить консультанту</a>
                        </a>

                    </nav>
                    <div class="leftbarmenu">
                        <div class="ind-block">
                            <div class="express-time" field="tn_text_1709298267482"
                                style="line-height: 31px !important;">
                                Мы будем у Вас в течении 20 минут
                            </div>
                            <div class="ind-part" field="tn_text_1709297470456" style="line-height: 62px; ">
                                <p><strong style="color: rgb(54, 54, 54);">Индивидуальный</strong> подход к вашему
                                    здоровью
                                </p>
                            </div>
                            <div class="rabot" style="line-height: 31px;">
                                <ul>
                                    <li>Работаем для Вас 24/7</li>
                                    <li>Стаж работы наших специалистов свыше 10 лет</li>
                                    <li>Врачи на пути к Вам, можете забыть об очередях в поликлинике.</li>
                                </ul>
                            </div>
                        </div>
                        <a class="tn-atom js-click-zero-stat" href="tel:+77078540700"
                            data-tilda-event-name="/tilda/click/rec713934223/button1709297687194">
                            <img class="knopka " src="{% static 'img/whatsappbutton.png' %}" alt=""
                                imgfield="tn_img_1709297687194" style="filter: invert(0);">
                        </a>
                        <div class="discount-block">
                            <p>Нажми на кнопку и получи 15% скидку</p>
                            <img class="discount-arrow img-fluid" style="filter: invert(0);"
                                src="{% static 'img/arrow.svg' %}">
                        </div>
                        <div class="choosed-us">
                            <img class="c1 " style="filter: invert(0);" src="{% static 'img/c1.png' %}">
                            <img class="c2 " style="filter: invert(0);" src="{% static 'img/c2.png' %}">
                            <img class="c3 " style="filter: invert(0);" src="{% static 'img/c3.png' %}">
                            <img class="c4 " style="filter: invert(0);" src="{% static 'img/c4.png' %}">
                        </div>
                        <div class="c-text" style="line-height: 23px;">
                            <p>+100.000 пациентов выбрали нас</p>
                        </div>
                    </div>
                </div>
                <div class="rightside">

                    <img class="kartinka1 " src="{% static 'img/Mask_group-3.png' %}">
                    <img class="kartinka2 " src="{% static 'img/Mask_group.png' %}">
                    <img class="kartinka3 " src="{% static 'img/Mask_group-1.png' %}">
                    <img class="kartinka4" src="{% static 'img/Mask_group-2.png' %}">

                </div>

            </div>
        </div>
    </header>



    <!-- 
    <h1>Добро пожаловать!</h1>
    <div>
        {% if user.is_authenticated %}
            {% if not user.is_superuser %}
                

                <button onclick="location.href='/random-topic/'" class="random-topic-button">Выбрать случайную тему</button>
            {% else %}

                <a href="/admin/">Админ-панель</a>
            {% endif %}
        {% else %}

            <a href="/register/">Регистрация</a>
            <a href="/login/">Авторизация</a>
        {% endif %}
    </div> -->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

</html>