/* Navigation styles */
.phone-icon {
    position: relative;
    top: 10px;
    left: 20px;
}

.phone-icon p {
    position: relative;
    top: -40px;
    left: 110px;
    font-family: 'Montserrat',Arial,sans-serif;
}

.phone-icon img {
    position: relative;
    top: 10px;
    left: 50px;
    width:50px;
    height: 50px;
}

.sms {
    position: relative;
    top: 13px;
    right: 20px;
    font-family: 'Montserrat',Arial,sans-serif;
    color: #FF99E2;
}


.kartinka4{
    position: relative;
    top: -2120px;
    left: 900px; 
    width:244px;
    height: 424px;

}
.kartinka2{
    position: relative;
    top: -550px;
    left: 600px; 
    width:264px;
    height: 481px;

}
.kartinka1{
    position: relative;
    top: -350px;
    left: 100px; 
    width:244px;
    height: 481px;

}
.kartinka3{
    position: relative;
    top: -350px;
    left: 100px; 
    width:244px;
    height: 481px;
}

