body {
    font-family: 'Arial', sans-serif;
    background-color: #fff;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    font-size: 2rem;
    color: #333;
    text-align: center;
    margin-bottom: 2rem;
    margin-left: -10%;
}



a {
    display: inline-block;
    margin-left: 20%;
    background-color: #007bff;
    color: #ffffff;
    padding: 0.75rem 1.5rem;
    margin: 0.5rem;
    border-radius: 4px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

a:hover {
    background-color: #0056b3;
}
body .random-topic-button {
    background-color: #6495ED !important; /* Синий цвет фона */
    color: white; /* Белый текст */
    border: none; /* Убрать границу */
    padding: 10px 20px; /* Внутренние отступы */
    text-align: center; /* Выравнивание текста */
    text-decoration: none; /* Убрать подчеркивание текста */
    display: inline-block; /* Сделать кнопку строчно-блочным элементом */
    font-size: 16px; /* Размер шрифта */
    margin: 4px 2px; /* Внешние отступы */
    cursor: pointer; /* Курсор в виде указателя */
    border-radius: 12px; /* Скругление углов */
    transition: background-color 0.3s; /* Плавное изменение цвета фона */
}

.random-topic-button:hover {
    background-color: #7B68EE; /* Светло-синий цвет фона при наведении */
}