.feedback{ 
  width: 100%; 
  display: flex;   
  flex-direction: column; 
  align-items: center; 
  width: 100%; 
  position: absolute; 
  left: 0; /* Обеспечиваем, что блок начинается с левого края */ 
  right: 0; /* Обеспечиваем, что блок растягивается до правого края */ 
  margin-top: 2500px; 
} 

.feedback__container{
  width: 80%;  
  text-align: center;/* Adjust based on design requirements */ 
  padding: 20px; 
  border-radius: 10px; 
  max-width: 1280px; 
  margin: 0 auto; 
  padding: 15px 30px; 
}
.feedback__container_maintext{

  color: #484848; 
  font-size: 45px; 
  font-family: 'Montserrat',Arial,sans-serif; 
  font-weight: 500; 
  background-position: center center; 
  border-color: transparent; 
  border-style: solid; 
  line-height: 70px; 
   
  margin-left: 300px; 
 
  max-width: 600px; 
}

.feedback__container_maintext span{ 
  color: var(--violet); 
  -webkit-font-smoothing: antialiased; 
  visibility: visible; 
  text-align: center; 
  -webkit-text-size-adjust: 100%; 
  font-size: 45px; 
  font-family: 'Montserrat',Arial,sans-serif; 
  line-height: 70px; 
  box-sizing: content-box; 
  font-weight: 700; 
}
.phone-frame {
  width: 302px; /* Ширина рамки, имитирующей телефон */
  height: 613px; /* Высота рамки */
  border: 16px solid black;
  border-radius: 36px;
  overflow: hidden;
  position: relative;
  box-shadow: 0 0 10px #333;
  margin-top: -600px;
  margin-left: 150px;
}

.carousel {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative; /* Убедитесь, что карусель позиционирована относительно */
}

.carousel-inner {
  display: flex;
  transition: transform 0.5s ease;
}

.carousel-item {
  flex: 0 0 100%;
  height: 100%;
}

.carousel-item img {
  width: 100%;
  height: auto;
}



.feedback__container_circle{
  width: 600px;
  height: 600px;
  margin-top: 50px;
  background-color: var(--violet);
  border-radius: 100%;
  position: relative; /* Добавлено для позиционирования карусели внутри круга */
}


.carousel-control-prev-clone, .carousel-control-next-clone {
  position: absolute;
  transform: translateY(-50%); /* Центрируем стрелки по вертикали */
  cursor: pointer;
  color: white; /* Убедитесь, что цвет стрелок контрастирует с фоном */
  z-index: 100; /* Убедитесь, что стрелки находятся над другими элементами */
}

.carousel-control-prev-clone {
  left: 380px; /* Расположение слева */

  font-size: 80px; /* Увеличенный размер для видимости */
} 

.carousel-control-next-clone {
  right: 1000px; /* Расположение справа */
  font-size: 80px; /* Увеличенный размер для видимости */
}
.feedback__container_leftext h1{
  display: flex;
  flex-direction: column;
  margin-top: -500px;
  margin-left: 650px;
  font-weight: 900;
  font-size: 50px;
  color: var(--violet);
  position: absolute;

  -webkit-font-smoothing: antialiased;
  visibility: visible;
  text-align: center;
  -webkit-text-size-adjust: 100%; 
  font-family: 'Montserrat',Arial,sans-serif;
  line-height: 70px;
  box-sizing: content-box;
  font-weight: 700;
}

.feedback__container_leftext h3{
  position: absolute;
  display: table-cell;
  vertical-align: middle;
  -webkit-text-size-adjust: 100%;
  color: #000000;
  font-size: 20px;
  font-family: 'TildaSans',Arial,sans-serif;
  font-weight: 400;
  background-position: center center;
  border-color: transparent;
  border-style: solid;
  line-height: 31px;
  width:564px;
  text-align: left;
  margin-left: 650px;
  margin-top: -400px;
}

.feedback__container_leftext span{

  display: table-cell;
  vertical-align: middle;
  -webkit-text-size-adjust: 100%;
  color: var(--violet);
  font-size: 18px;
  font-family: 'TildaSans',Arial,sans-serif;
  font-weight: 600;
  background-position: center center;
  border-color: transparent;
  border-style: solid;
  line-height: 28px;
  margin-top: -250px;
  width: 400px;
  text-align: left;
  margin-left: 650px;
  position: absolute;
}

.feedback__container_leftext button{
  margin-left: 650px;
  margin-top: -150px;
  position: absolute;
}


.feedback__container_choose-us{
  margin-top: 100px;
  margin-left: -100px;
}
.feedback__container_choose-us h1{
  -webkit-font-smoothing: antialiased;
  visibility: visible;
  -webkit-text-size-adjust: 100%;
  font-size: 45px;
  font-family: 'Montserrat',Arial,sans-serif;
  font-weight: 400;
  line-height: 70px;
  box-sizing: content-box;
  margin: 0;
  padding: 0;
  border: 0;
  color: rgb(94, 94, 94);
  
}
.feedback__container_choose-us span{
  font-size: 45px;
  line-height: 70px;
  font-weight: 700;
  color: rgb(66, 66, 66);
}

.feedback__container_choose-us h2{
  -webkit-text-size-adjust: 100%;
  color: #5e5e5e;
  font-size: 45px;
  font-family: 'Montserrat',Arial,sans-serif;
  font-weight: 400;
  background-position: center center;
  border-color: transparent;
  border-style: solid;
  line-height: 70px;
  position: absolute;
  margin-left: 700px;
  margin-top: -20px;
}

.feedback__container_choose-us-block{
  margin-top: 100px;
  margin-left: 200px;
}

.feedback__container_choose-us-block span {
  display: block; /* Элемент span по умолчанию inline, делаем его блочным для полной ширины */
  font-family: Arial, sans-serif; /* Шрифт Arial или любой sans-serif, если Arial недоступен */
  font-size: 16px; /* Размер шрифта */
  color: var(--violet); /* Темно-серый цвет текста */
  padding: 10px 20px; /* Внутренние отступы: 10px сверху и снизу, 20px слева и справа */
  border-radius: 5px; /* Скругление углов */
  box-shadow: 0 2px 5px var(--violet); /* Тень под блоком */
  margin: 10px 0; /* Отступы сверху и снизу */
  width: auto; /* Автоматическая ширина по содержимому */
  max-width: 819px; /* Максимальная ширина 100% */
  max-height: 139px;
  border-style: dashed;



  font-size: 25px;
  font-family: 'Montserrat',Arial,sans-serif;
  font-weight: 300;
  background-position: center center;
  line-height: 39px;
}
.feedback__container_choose-us-block p{
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  -webkit-text-size-adjust: 100%;
  color: #4b4b4b;
  font-size: 25px;
  font-family: 'Montserrat',Arial,sans-serif;
  font-weight: 300;
  background-position: center center;
  border-color: transparent;
  border-style: solid;
  line-height: 39px;
}